body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
body h2{
    font-size: 24px;
    margin: 25px 0;
}
.div_loader{
    font-size: 150px;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
    color: #9356DC;
    opacity: 0.8;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 300ms 3000ms forwards;
    transform-origin: top;
}
.div_loader i{
    animation: spin 3000ms infinite linear;
}
@keyframes disappear{
    100%{
        transform: scale(0);
    }
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.website_logo{
    display: flex;
    justify-content: center;
}
.website_logo h1{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
}
.div_location{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 15px 0;
    background: linear-gradient(180deg, rgb(220, 220, 220) 0%, #EAEAEA 20%);
}
.div_location form{
    display: flex;
    justify-content: center;
}
.div_location input{
    width: 60%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    display: flex;
    cursor: pointer;
}
.div_location input:focus{
    outline: none;
}
.div_location i{
    font-size: 16px;
    padding-right: 10px;
}
.section_reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #F6F6F6;
}
.section_reservation h2{
    margin: 0;
    text-align: center;
}
.section_reservation p{
    text-align: center;
    font-size: 18px;
    margin: 25px 0;
}
.section_reservation a{
    text-decoration: none;
}
.button_rounded{
    border-radius: 50px;
    padding: 13px 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 400ms;
}
.button_rounded:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    opacity: 80%;
    cursor: pointer;
}
.button_gradient{
    background: linear-gradient(180deg, #ff49da , #9356DC );
}
.section_functioning{
    padding: 20px;
}
.div_options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_steps{
    display: flex;
    width: 70%;
    flex-direction: row;
    background-color: #F7F7F7;
    border-radius: 20px;
    padding: 28px 28px 28px 0;
    margin-bottom: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.div_steps:hover{
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.steps_number{ 
    background-color: #9356DC;
    color: #FFFFFF;
    margin: 0;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps_explications{
    display: flex;
    align-items: center;
}
.div_steps i{
    margin: 0 20px;
    font-size: 18px;
    color: #7E7E7E;
}
.div_steps .icone_purple{
    color: #9356DC;
}
.steps_explications p{
    margin: 0;
    font-size: 16px;
    text-align: center;
}
.section_restaurants{
    padding: 30px;
    background-color: #F7F7F7;
}
.div_cards{
    display: flex;
    flex-direction: column;
}
.restaurants_cards{
    width: 100%;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 18px;
    position: relative;
    text-decoration: none;
    color: black;
}  
.restaurants_cards:hover{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.restaurants_cards img{
    width: 100%;
    height: 70%;
    border-radius: 15PX 15PX 0 0;
    object-fit: cover;
}
.new_cards{
    width: 80px;
    height: 29px;
    border-radius: 2px;
    margin: 0;
    position: absolute;
    top: 13px;
    right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008766;
    background-color: #99E2D0;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
.cards_features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    height: 30%;
}
.restaurants_names{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.restaurants_names h3{
    margin: 0;
}
.restaurants_names p{
    margin: 0;
}
.fa-heart{
    position: absolute;
    bottom: 27px;
    right: 13px;
    font-size: 21px;
    cursor: pointer;   
}
.purple_heart{
    font-size: 21px;
    color: transparent;
    background-image: linear-gradient(180deg, #9356DC,  #ff49da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 300ms;
}
.purple_heart:hover{
    opacity: 100%;
}
footer{
    background-color: #353535;
    color: #FFFFFF;
    padding: 20px;
}
.mini_logo h4{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.div_informations{
    display: flex;
    flex-direction: column;
}
.div_informations i{
    font-size: 12px;
    padding-right: 10px;
}
.div_informations a{
    padding: 5px 0;
    text-decoration: none;
    color: #FFFFFF;
}
.div_informations a:hover{
    opacity: 80%;
    cursor: pointer;
}
@media all and (min-width: 768px)
    {
        .section_functioning{
            padding: 15px 80px;
        }
        .section_restaurants{
            padding: 15px 80px;
        }
        .div_options{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        .div_steps{
            align-items: center;
            width: 25%;
            padding: 20px 20px 20px 0;
        }
        .restaurants_cards{
            margin-bottom: 30px;
        }
        footer{
            display: flex;
            flex-direction: row-reverse;
        }
        .mini_logo{
            margin: 0 50px;
        }
        .div_informations{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
@media all and (min-width: 1181px)
    {
        .section_functioning{
            padding: 30px 160px;
        }
        .div_steps{
            width: 28%;
        }
        .section_restaurants{
            padding: 30px 160px;
        }
        .div_cards{
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
        }
        .restaurants_cards{
            width: 335px;
            margin-right: 20px;
        }
        .restaurants_cards img{
            width: 335px;
            height: 175px;
        }
    }